.button {
  border-radius: 6px;
  padding: 16px 30px;
  cursor: pointer;
  font-weight: 400;
  transition: box-shadow 0.5s;
  font-size: 20px;
  border: none;
  color: var(--white-color);
}

.accent {
  background: var(--bs-black);
  color: var(--white-color);
  box-shadow: var(--black-hover-box-shadow);
}

.accent:hover {
  box-shadow: var(--white-hover-box-shadow);
}
