.section-hero {
  height: 650px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100%;
  background-image: url("/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* filter: saturate(35%); */
  color: var(--white-color);
}
