.section-works-stages {
  padding-bottom: 50px;
  background-color: var(--blakus-color);
  color: var(--white-color);
}

.background-div {
  background-image: url('/FotoVlad.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: saturate(85%);
}

.div-works-stages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-h2 {
  font-size: 52px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}

/*-------------------------TIMELINE-----------------------*/
.timeline {
  width: 90%;
  margin: 0px auto;
  line-height: 150%;
  position: relative;
  transition: all 0.3s;
}
.timeline,
.timeline *,
.timeline *::after,
.timeline *::before {
  box-sizing: border-box;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  left: 50%;
  top: 0;
}

.timeline-item {
  margin-bottom: 0px;
  position: relative;
  color: var(--blakus-color);
}

.timeline-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -23px;
  border: var(--greus-color) 1px solid;
  border-radius: 50%;
  background-color: var(--white-color);
}
.timeline-icon img {
  width: 70%;
}

.timeline-content {
  width: 45%;
  padding: 0px 20px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white-color);
}

.timeline-content h3 {
  padding: 15px;
  color: var(--white-color);
  margin: -20px -20px 0 -20px;
  font-weight: 500;
  background-color: var(--greus-color);
}

.timeline-content p {
  padding: 25px 0px;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: var(--greus-color);
}
.right {
  float: right;
}
.right::before {
  left: -5px;
  right: inherit;
}

.timeline-item::after,
.timeline-item::before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

@media screen and (max-width: 768px) {
  .timeline {
    margin: 30px;
    padding: 0;
  }
  .timeline::before {
    left: 0;
  }
  .timeline-icon {
    left: 0;
  }
  .timeline-content {
    width: 90%;
    float: right;
  }
  .timeline-content::before {
    left: -5px;
    right: inherit;
  }
}
