.offices {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.office-content {
  font-weight: 400;
  font-size: 24px;
}

.office-content h4 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.office-content-li {
  display: flex;
  align-items: center;
  gap: 35px;
}

.office-content-li svg {
  width: 30px;
  height: 30px;
}

.addressDiv {
  display: flex;
  flex-direction: column;
}
