.nav-link {
  color: var(--bs-white);
}

.header {
  padding: 5px 0px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.904);
}

.logo-div {
  margin-left: 50px;
}

.logo-img {
  width: 300px;
  height: 90px;
}
