.header {
  padding: 5px 0px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.904);
}

.logo-div {
  margin-left: 50px;
}

.logo-img {
  width: 300px;
  height: 90px;
}

.header img {
  cursor: pointer;
}

.nav-link-a {
  padding-top: 15px;
  cursor: pointer;
  transition: color 0.55s ease-in-out, background-color 0.55s ease-in-out,
    border-color 0.55s ease-in-out;
}
