.background-div {
  background-image: url('/logoBig.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
}

.section-maps {
  background-color: var(--bs-black);
  color: var(--white-color);
}

.map-h2 {
  font-size: 52px;
  margin-bottom: 45px;
}

.advantages {
  padding: 0px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}
