.section-maps {
  background-color: var(--blakus-color);
  color: var(--white-color);
}

.map-h2 {
  font-size: 52px;
  margin-bottom: 45px;
}

.advantages {
  padding: 0px 20px 100px 20px;
  display: flex;
}
