:root {
  --font1: 'Assistant', sans-serif;
  --font2: 'Roboto Serif', sans-serif;
  --text-color: #000000;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-secondary: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
}

body {
  font-family: 'Assistant', sans-serif;
  font-family: 'Roboto Serif', serif;
}
