:root {
  --font1: 'Assistant', sans-serif;
  --font2: 'Roboto Serif', sans-serif;
  --text-color: #000000;
  --white-color: white;
  --redus-color: rgba(255, 0, 0, 1);
  --white-hover-box-shadow: rgba(255, 255, 255, 1) 0px 0px 20px 2px;
  --black-hover-box-shadow: rgba(0, 0, 0, 1) 0px 0px 20px 2px;
}

body {
  font-family: 'Assistant', sans-serif;
  font-family: 'Roboto Serif', serif;
}
