.offices {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.office-content {
  margin-top: 25px;
  font-weight: 400;
  font-size: 24px;
}

.office-content h4 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.office-content-li {
  display: flex;
  align-items: center;
  gap: 35px;
}

.button-wa {
  padding: 7px 10px;
  border-radius: 29px;
  background-color: green;
}

.office-content-li svg {
  width: 30px;
  height: 30px;
}

.addressDiv {
  display: flex;
  flex-direction: column;
}
